{
            background-color: #3c4a4f;
            color: white;
            font-family: Arial, sans-serif;
        }

        .youtube-info-finder {
            text-align: center;
            margin-top: 50px;
        }

        .input-container {
            position: relative;
            width: 80%;
            margin: 0 auto;
        }

        #youtube-url {
            width: 100%;
            padding: 10px 10px 10px 55px;
            margin-bottom: 15px;
            border: 2px solid #ccc;
            border-radius: 20px;
            font-size: 16px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            outline: none;
            transition: border-color 0.3s;
        }

        #youtube-url:focus {
            border-color: #6a5acd;
        }

        #youtube-url.error {
            border-color: red;
        }

        #youtube-url.valid {
            border-color: green;
        }

        #youtube-url.error::placeholder {
            color: red;
        }

        #youtube-icon {
            position: absolute;
            left: 25px;
            top: 37%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
        }

        #info {
            display: none;
            align-items: center;
            justify-content: center;
        }

        #info img {
            max-width: 300px;
            height: auto;
            border-radius: 20px;
            object-fit: cover;
            object-position: center;
            margin-right: 20px;
        }

        #info-text {
            max-width: 500px;
            text-align: left;
        }

        #youtube-title {
            margin-top: 10px;
            font-size: 24px;
            font-weight: bold;
        }

        #youtube-views, #youtube-subscribers {
            margin-top: 10px;
            font-size: 20px;
            display: flex;
            align-items: center;
        }

        #youtube-views b, #youtube-subscribers b {
            font-weight: bold;
            color: yellow;
        }

        .separator {
            border-bottom: 1px solid white;
            margin: 10px 0;
        }

        @keyframes smoothBounce {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
        }

        @keyframes blink {
            50% {
                color: black;
            }
        }

        .blinking {
            animation: blink 0.5s step-end infinite alternate;
        }

        .boost-button {
            display: inline-block;
            margin-top: 20px;
            padding: 15px 30px;
            background-color: #11f20a;
            color: #140202;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            animation: sombra1 1s ease 1s infinite, sombra2 1s ease infinite;
            text-decoration: none;
            text-align: center;
        }

        .boost-button:hover {
            background-color: #33cc33;
        }

        @keyframes sombra1 {
            0% {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0);
            }
            100% {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
        }

        @keyframes sombra2 {
            0% {
                box-shadow: 0 0 0px rgba(38, 227, 38, 1);
            }
            100% {
                box-shadow: 0 0 0px 20px rgba(111, 13, 255, 0);
            }
        }

        @media (max-width: 600px) {
            #info {
                flex-direction: column;
            }

            #info img {
                margin-right: 0;
                margin-bottom: 20px;
                max-width: 60%;
                border-radius: 50%;
            }

            #info-text {
                text-align: center;
                max-width: 100%;
            }

            #youtube-title {
                font-size: 20px;
            }

            #youtube-views, #youtube-subscribers {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                justify-content: center;
                width: 100%;
            }

            .boost-button {
                width: 100%;
                padding: 20px 10px;
                font-size: 16px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .separator {
                display: none;
            }

            #youtube-url {
                box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
            }
        }

        .status-message {
            background-color: #fff;
            border-radius: 20px;
            padding: 8px 3px 8px 35px;
            font-size: 16px;
            color: green;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px auto;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            white-space: nowrap;
            position: relative;
            max-width: calc(30ch + 0px);
            overflow: hidden;
        }

        .status-message svg {
            position: absolute;
            left: 20px;
            fill: green;
            width: 25px;
            height: 40px;
        }

        .status-text {
            padding-left: 30px;
            text-align: center;
        }

        #error-message {
            color: red;
            font-weight: bold;
            display: none;
            margin-top: 10px;
            animation: blink 0.5s step-end infinite alternate;
        }

        .notification {
            position: fixed;
            bottom: 20px;
            left: 20px;
            background-color: white;
            border: 1px solid #ccc;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(255,0,0,0.3);
            border-radius: 20px;
            z-index: 1000;
            font-family: Arial, sans-serif;
            display: flex;
            align-items: center;
            animation: slideInOut 17s ease-in-out infinite;
            width: 350px;
        }

        .notification-content {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .notification-header {
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
        }

        .notification-icon {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            fill: red;
        }

        .notification-text {
            font-size: 14px;
            color: #333;
            flex: 1;
        }

        .notification-time {
            font-size: 12px;
            color: #888;
            margin-top: 5px;
        }

        .notification .close-btn {
            cursor: pointer;
            font-size: 20px;
            color: #888;
            position: absolute;
            top: 5px;
            right: 10px;
        }

        .notification .close-btn:hover {
            color: #000;
        }

        .video-title {
            color: blue;
            text-decoration: underline;
        }

        @keyframes slideInOut {
            0% { transform: translateX(-150%); opacity: 0; }
            10%, 90% { transform: translateX(0); opacity: 1; }
            100% { transform: translateX(-150%); opacity: 0; }
        }

        @media (min-width: 601px) {
            .input-container {
                width: 50%;
            }
        }