/* Estilos para o botão "ADQUIRIR" */
.button-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 20px !important;
}

.adquirir-btn {
    background-color: #e60000 !important;
    color: white !important;
    border: none !important;
    border-radius: 13px !important;
    padding: 15px 40px !important;
    font-size: 14px !important;
    font-family: 'Arial', sans-serif !important;
    font-weight: bold !important;
    cursor: pointer !important;
    box-shadow: 0 0 20px rgba(255, 255, 255, 255) !important;
    transition: transform 0.2s ease-in-out !important;
    text-align: center !important;
    margin: 0 auto !important;
    display: block !important;
    white-space: nowrap !important;
}

.adquirir-btn:hover, .adquirir-btn:active {
    background-color: white !important;
    color: #e60000 !important;
    transform: translateX(10px) scale(1.05) !important; /* Salta para frente e aumenta de tamanho */
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out !important;
}

/* Estilos para o pop-up */
.custom-popup .popup-container {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 1000 !important;
    font-family: Arial, sans-serif !important;
}

.custom-popup .popup-box {
    background-color: #e60000 !important;
    padding: 20px !important;
    border-radius: 20px !important;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
    width: 300px !important;
    text-align: center !important;
    color: white !important;
    position: relative !important;
}

.custom-popup .close-btn {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    width: 30px !important;
    height: 30px !important;
    background-color: white !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer !important;
}

.custom-popup .close-btn span {
    color: red !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.custom-popup .popup-icon {
    width: 50px !important;
    height: 50px !important;
    margin-bottom: 10px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.custom-popup .popup-header h2 {
    margin: 10px 0 !important;
    font-size: 24px !important;
    font-weight: bold !important;
    color: white !important;
    font-family: Arial, sans-serif !important;
}

.custom-popup .label-text {
    font-size: 14px !important;
    font-weight: bold !important;
    text-align: left !important;
    display: block !important;
    margin-bottom: 5px !important;
}

.custom-popup .progress-container {
    background-color: #ccc !important;
    border-radius: 20px !important;
    margin-bottom: 20px !important;
    overflow: hidden !important;
    height: 20px !important;
}

.custom-popup .progress-bar {
    background-color: white !important;
    height: 100% !important;
    border-radius: 20px !important;
    position: relative !important;
    transition: width 0.3s ease;
    background-image: linear-gradient(90deg, rgba(0, 128, 0, 1) 0%, rgba(0, 255, 0, 0.5) 100%) !important;
    background-size: 200% 100% !important;
    width: 0;
}

.custom-popup .smoke-effect {
    animation: smokeEffect 2s linear infinite !important;
}

@keyframes smokeEffect {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.custom-popup .progress-text {
    position: absolute !important;
    width: 100% !important;
    text-align: center !important;
    top: 50% !important;
    left: 0 !important;
    transform: translateY(-50%) !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 12px !important;
}

/* Estilos para os inputs */
.custom-popup input[type="text"],
.custom-popup input[type="tel"],
.custom-popup input[type="url"] {
    width: 100% !important;
    padding: 10px 10px 10px 40px !important;
    margin-bottom: 10px !important;
    border-radius: 5px !important;
    border: 2px solid #ccc !important;
    font-size: 14px !important;
    box-sizing: border-box !important;
    background-repeat: no-repeat !important;
    background-position: 10px center !important;
    background-size: 20px 20px !important;
    background-clip: padding-box !important;
    background-origin: padding-box !important;
    background-color: white !important;
}

.custom-popup input[type="text"]::placeholder,
.custom-popup input[type="tel"]::placeholder,
.custom-popup input[type="url"]::placeholder {
    color: #999 !important;
    font-size: 14px !important;
}

/* Ícones nos inputs */
.custom-popup .name {
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 448 512%22%3E%3Cpath fill=%22gray%22 d=%22M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z%22/%3E%3C/svg%3E') !important;
}

.custom-popup .whatsapp {
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 448 512%22%3E%3Cpath fill=%22green%22 d=%22M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z%22/%3E%3C/svg%3E') !important;
}

.custom-popup .video,
.custom-popup .channel {
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 576 512%22%3E%3Cpath fill=%22red%22 d=%22M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z%22/%3E%3C/svg%3E') !important;
}

/* Estilos de validação dos inputs */
.custom-popup input[type="text"].valid,
.custom-popup input[type="tel"].valid,
.custom-popup input[type="url"].valid {
    border-color: green !important;
}

.custom-popup input[type="text"].invalid,
.custom-popup input[type="tel"].invalid,
.custom-popup input[type="url"].invalid {
    border-color: red !important;
}

/* Seção de pagamento */
.custom-popup .payment-section {
    margin-top: 20px !important;
    transition: opacity 0.3s ease !important;
}

.custom-popup .payment-options {
    display: flex !important;
    justify-content: space-around !important;
    margin-top: 10px !important;
}

.custom-popup .payment-options label {
    font-size: 14px !important;
    display: flex !important;
    align-items: center !important;
    cursor: pointer !important;
    flex-direction: column !important;
}

.custom-popup .payment-options input[type="radio"] {
    margin-top: 5px !important;
}

.custom-popup .discount {
    background-color: #90ee90 !important;
    color: black !important;
    padding: 2px 5px !important;
    border-radius: 5px !important;
    font-size: 10px !important;
    margin-left: 5px !important;
    font-weight: bold !important;
}

.custom-popup .payment-options svg {
    width: 24px !important;
    height: 24px !important;
}

.custom-popup .icon-pix {
    fill: #2abbac !important;
}

.custom-popup .icon-credito {
    fill: white !important;
}

/* Seção de confirmação */
.custom-popup .confirmation-section {
    margin-top: 20px !important;
    transition: opacity 0.3s ease !important;
}

.custom-popup .confirmation-text {
    margin-bottom: 10px !important;
    font-size: 14px !important;
}

/* Botão "FINALIZAR PEDIDO" */
.custom-popup .finalize-button {
    background-color: #f6de08 !important;
    color: black !important;
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 20px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    animation: pulse 2s infinite;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75) !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
    max-width: fit-content !important;
}

.custom-popup .finalize-button .button-content {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.custom-popup .finalize-button .payment-icon {
    margin-left: 10px !important;
}

.custom-popup .finalize-button .price {
    margin-top: 5px !important;
    font-size: 1.2em !important;
    font-weight: bold !important;
}

/* Animação do botão */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Classe para ocultar elementos */
.custom-popup .hidden {
    display: none !important;
}